<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Verified?</strong>
  <%= @user.phone_verified %>
</p>

<% unless @user.phone_verified %>

	<%= form_tag :action => 'verify_phone_number' do %>
    <%= text_area :myform, :code_entered %>
    <%= submit_tag "Submit" %>
	<% end %>

	<%= link_to 'Send verification code again', send_code_again_user_path(@user) %> |
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
